@import 'tailwindcss';


@tailwind utilities;

/* Force dark background */
body {
  @apply bg-black text-white;
}


* {
  -webkit-user-select: none;   
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;           
}

